.profile__image {
  width: 120px;
  height: 120px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  margin: 0 29px 0 0;
}

.profile__image-photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 50%;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

.profile__image-edit-button {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    padding: 0;
    border: none;
    cursor: pointer;

    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0);
    background-blend-mode: multiply;
    transition: background-color 0.3s ease;
    border-radius: 50%;
}

.profile__image-edit-button:hover {
    background-color: rgba(0, 0, 0, 0.6);
}

.profile__image-icon_edit {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 26px;
    height: 26px;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
    mix-blend-mode: normal;
}

.profile__image-edit-button:hover .profile__image-icon_edit {
    opacity: 1;
}

.profile__image-edit-button:hover .profile__image-photo {
    opacity: 0.3;
}

@media screen and (max-width: 740px) {
  .profile__image {
    margin: 0 10px 0 0;
  }
}

@media screen and (max-width: 480px) {
  .profile__image {
    margin-right: 0;
  }
}
