.popup__form-input-error {
    display: none;
    color: #FF0000;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1;
    letter-spacing: 0;
    margin-top: 4px;
}

.popup__form-input-error--show {
    display: block;
}